<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a new post</title>
</head>
<body>
    <form action="/posts" method="post">
        <input type="text" name="username" placeholder="username"> <br>
        <br>
        <textarea name="content" id="" placeholder="content"></textarea>
        <br>
        <button type="submit">submit</button>
    </form>
    <br>
    <br>

</body>
</html>